
.about-container{
  color: #333;
  margin: 20px;
  padding: 20px;
  border: 2px solid aqua;
  border: 5px;
  background-color: #f9f9f9ff;
  margin-left: 30%;
}  

.header h1 {
  font-size: 36px;
  color: #033974;
}
.header p {
  font-size: 18px;
  color: #555;
}
.header h4 {
  font-size: 24px;
  color: #43840d;
}
.subjects h3 {
  font-size: 28px;
  color: #6ea8e6;
}
.subjects li {
  color: #006400;
}
.why-choose li {
  color: #8b0000;
}
.why-choose h3 {
  color: #007bff;
}